@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 430px;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration-line: none;
  text-align: center;
}

.navigation-user .navigation-link {
  min-width: 19px;
  min-height: 19px ;
}

/* .search{
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}
пока что не нужно
.favourite {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
} */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.welcome-1 {
  padding-top: 52px;
  margin-bottom: 12px;
}

.welcome-2 {
  margin-bottom: 54px;
}

.welcome-3 {
  margin-bottom: 82px;
}

.hero {
  height: 485px;
  background-image: url("../images/hero-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
}

.info{
  font-size: 22px;
  line-height: 26px;
}

.main-info {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-info {
  margin: 69px 0;
}

.advantages-info .main-info {
  width: 620px;
  margin: 0 auto;
}

.advantages-info .info {
  margin: 0;
  margin-top: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list img {
  display: block;
  height: 100%;
}

.advantages-item {
  padding: 102px 85px;
  text-align: center;
}

.advantages-title {
  width: 176px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  width: 230px;
  margin: 0;
  padding-top: 30px;
  color: #333333;
}

.invintation-info {
  margin: 64px 0;
}

.invintation-info .main-info {
  width: 506px;
  margin: 0 auto;
}

.invintation-info .info{
  margin: 0;
  margin-top: 20px;
}

.invintation .advantages-title {
  padding-bottom: 0;
  padding-top: 30px;
}

.medium {
  background-color: rgba(131, 179, 211, 0.20);
}

.dark {
  color: #ffffff;
  background-color: #82B3D3;
}

.dark .advantages-description{
  color: #ffffff;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotels {
  margin: 96px 304px;
}

.hotels .main-info {
  margin: 0;
  margin-bottom: 20px;
}

.hotels .info {
  margin: 0;
  margin-bottom: 54px;
}


/* тоже пока не нужно */
/* .living {
  background-image: url("../images/advantage-icon-1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../images/advantage-icon-2.svg");
  background-repeat: no-repeat;
}

.presents {
  background-image: url("../images/advantage-icon-3.svg");
  background-repeat: no-repeat;
} */

.button {
  text-transform: uppercase;
  text-decoration-line: none;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #756157;
}

.newsletter {
  padding: 96px 258px;
  text-align: center;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px 233px;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 30px;
}

.newsletter p {
  width: 474px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter.index {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.newsletter .button {
  background-color: #82B3D3;
}

.footer-contacts {
  display: flex;
  padding: 40px 70px 30px;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 150px;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}


.contact-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  margin-left: auto;
}

.contact-link {
  width: 115px;
  margin-left: auto;
}

.hotels-filter {
  width: 1060px;
  min-height: 306px;
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  min-width: 13px;
  margin-right: 10px;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
}

.catalog-wrap {
  text-align: start;
}

.catalog-filter {
  display: flex;
}

.hotels-filter-results {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  padding:  50px 70px 60px;
}

.results-wrap {
  display: flex;
  width: 1060px;
}

.how-to-show {
  display: flex;
  width: 522px;
  margin-left: auto;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.appearance {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 160px;
  margin-left: 70px;
}

.appearance-type {
  min-width: 24px;
  min-height: 20px;
  margin-right: 8px;
}

.appearance-type:nth-child(3n) {
  margin: 0;
}

.select-control {
  width: 292px;
  margin-left: auto;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  width: 1060px;
  padding: 0;
  margin: 40px auto;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-filter-group {
  width: 150px;
  margin-left: 70px;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link.home {
  background-image: url("../images/main-logo.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  font-size: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  line-height: 23px;
}

.hotels-filter .button {
  background-color: #82B3D3;
}

.hotels-filter .button-back {
  background-color: transparent;
}

.hotels-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
}

.button-show {
  background-color: transparent;
}

/*   */
/* .button-show.cards {
  background-image: url("../images/mode-1.svg");
  background-repeat: no-repeat;
}

.button-show.slides {
  background-image: url("../images/mode-2.svg");
  background-repeat: no-repeat;
}

.button-show.list {
  background-image: url("../images/mode-3.svg");
  background-repeat: no-repeat;
 } */

.hotel-card-link {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
}

.hotel-price {
  justify-self: end;

}

.rating-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.favourite-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.rating {
  text-align: center;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.pagination-link {
  display: block;
  margin: 12px auto;
  color: #ffffff;
  text-decoration-line: none;
}

.pagination-ccurrent {
  color: #000000;
}

.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  margin-right: 8px;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

input[type="email"] {
  background-color: #F2F2F2;
}
