@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 430px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration-line: none;
  text-align: center;
}

.search{
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.favourite {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/hero-background.jpg");
  background-color: #000000;
  background-size: 100% auto;

}

.info{
  font-size: 22px;
  line-height: 26px;
}

.main-info {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}

.medium {
  background-color: rgba(131, 179, 211, 0.20);
}

.dark {
  color: #ffffff;
  background-color: #82B3D3;
}

.dark .advantages-description{
  color: #ffffff;
}

.light {
  background-color: rgba(131, 179, 211, 0.12);
}

.living {
  background-image: url("../images/advantage-icon-1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../images/advantage-icon-2.svg");
  background-repeat: no-repeat;
}

.presents {
  background-image: url("../images/advantage-icon-3.svg");
  background-repeat: no-repeat;
}

.button {
  text-transform: uppercase;
  text-decoration-line: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #756157;
}

.newsletter.index {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.newsletter .button {
  background-color: #82B3D3;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  width: 150px;
}

.contact-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
}

.contact-link {
  width: 115px;
}

.hotels-filter {
  width: 1200px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.hotels-filter-results {
  display: flex;
}

.appearance {
  width: 160px;
  margin-left: 70px;
}

.select-control {
  width: 292px;
  margin-left: auto;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.hotel-card {
  width: 340px;
}

.hotel-card:nth-child(1), .hotel-card:nth-child(2) {
  margin-right: 20px;
}

.catalog-filter-group {
  width: 150px;
  margin-left: 70px;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link.home {
  background-image: url("../images/main-logo.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  font-size: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  line-height: 23px;
}

.hotels-filter .button {
  background-color: #82B3D3;
}

.hotels-filter .button-back {
  background-color: transparent;
}

.hotels-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
}

.button-show {
  background-color: transparent;
}

.button-show.cards {
  background-image: url("../images/mode-1.svg");
  background-repeat: no-repeat;
}

.button-show.slides {
  background-image: url("../images/mode-2.svg");
  background-repeat: no-repeat;
}

.button-show.list {
  background-image: url("../images/mode-3.svg");
  background-repeat: no-repeat;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}

.favourite-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
}

.pagination-link {
  color: #ffffff;
  text-decoration-line: none;
}

.pagination-ccurrent {
  color: #000000;
}

.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  margin-right: 8px;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

input[type="email"] {
  background-color: #F2F2F2;
}
